.mainDiv{
    position: sticky;
    z-index: 999;
    background: white;
    top: 0;
    padding-bottom: 10px;
    border: 2px solid;
}

.logo{
    width: 25px;
    height: 25px;
}
.mobileDiv{
    display: none;
}

@media all and (min-width: 250px) and (max-width: 1040px){
    .mainDiv{
        display: none;
    }

    .mobileDiv{
        display: block;
    }

}